.chooser {
	display: flex;
	gap: 1em;
}

.chooser * {
	flex: 1;
}

.board {
	width: 60%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.space {
	height: 2em;
	font-size: 3rem;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	font-family: var(--text-font);
}

.space:hover {
	transform: none;
	box-shadow: none;
}

.player,
.computer {
	cursor: default;
}

:is(
	.player,
	.computer
):hover {
	background-color: var(--bg);
	color: var(--base);
}

.player {
	--base: #3498db;
}

.computer {
	--base: #f1c40f;
}