<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>Quadratic Formula</title>

		<link rel="stylesheet" href="../../style.css">
		<link rel="stylesheet" href="./style.css">
	</head>

	<body>
		<section class="top">
			<h2>Quadratic Formula Solver</h2>
		</section>

		<section id="app">
			<div class="row">
				<div class="col gap">
					<input type="number" v-model="inA" placeholder="Enter a...">
					<input type="number" v-model="inB" placeholder="Enter b...">
				</div>
			</div>
			<div class="row">
				<div class="col gap">
					<input type="number" v-model="inC" placeholder="Enter c...">
					<button class="calculate" @click="calc()">Calculate</button>
				</div>
			</div>
			<div class="row">
				<h3>Output:</h3>
				<p>
					{{ out1.toString() }}
					<template v-if="out1.toString() !== out2.toString()">
						and {{ out2.toString() }}
					</template>
				</p>
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- dom stuff -->
		<script src="https://unpkg.com/mathjs@7.1.0/dist/math.min.js"></script>
		<!-- actual math :) -->
		<script src="script.js"></script> <!-- calculations :) -->
	</body>
</html>
